* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #f8f9fa;
}

.principalContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #f8f9fa;
    position: relative;
    box-sizing: border-box;
    flex: 1 1 auto;
}

footer {
    margin-top: auto;
    width: 100%;
}